.search-modal.is-active {
    display: flex;
}

form.pagefind-ui__form {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr auto;
}
.pagefind-ui__search-input {
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
button.pagefind-ui__search-clear {
    margin: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 2px;
}