---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="プライバシーポリシー | HALQME"
    description="Google Analyticsに関するプライバシーポリシーなど"
>
    <h1 class="text-3xl font-bold text-center mt-8 mb-4">
        プライバシーポリシー
    </h1>
    <p>
        当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。
        この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細はGoogleアナリティクスサービス利用規約のページやGoogleポリシーと規約ページをご覧ください。
    </p>
    <a
        href="https://marketingplatform.google.com/about/analytics/terms/jp/"
        class="text-blue-600 dark:text-blue-400 underline hover:text-emerald-600 hover:dark:text-emerald-400"
    >
        Googleアナリティクスサービス利用規約
    </a>
    &nbsp;
    <a
        href="https://policies.google.com/technologies/ads?hl=ja"
        class="text-blue-600 dark:text-blue-400 underline hover:text-emerald-600 hover:dark:text-emerald-400"
    >
        Googleポリシーと規約
    </a>
</Layout>
