---
const today = new Date();
---

<footer class="border-lighter mt-auto w-full border-t py-8 text-center">
  <div class="container-narrow">
    <div class="mb-4 flex justify-center">
      <a
        href="https://github.com/HALQME"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-ghost group flex flex-col p-2"
        aria-label="GitHub"
      >
        <span
          class="flex-inline items-center text-sm opacity-0 transition-opacity group-hover:opacity-100"
          >GitHub &nbsp;<div class="i-lucide:external-link"></div></span
        >
        <div class="i-lucide:github text-xl"></div>
      </a>
      <a
        href="https://x.com/halqme_dev"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-ghost group flex flex-col p-2"
        aria-label="X (Twitter)"
      >
        <span
          class="flex-inline items-center text-sm opacity-0 transition-opacity group-hover:opacity-100"
          >Twitter &nbsp;<div class="i-lucide:external-link"></div></span
        >
        <div class="i-lucide:twitter text-xl hidden group-hover:block"></div>
        <div class="i-simple-icons:x text-xl block group-hover:hidden"></div>
      </a>
      <a
        href="https://zenn.dev/hal227"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-ghost group flex flex-col p-2"
        aria-label="Zenn"
      >
        <span
          class="flex-inline items-center text-sm opacity-0 transition-opacity group-hover:opacity-100"
          >Zenn &nbsp;<div class="i-lucide:external-link"></div></span
        >
        <div class="i-simple-icons:zenn text-xl"></div>
      </a>
    </div>
    <p class="text-caption">
      &copy; {today.getFullYear()} HALQME. All rights reserved.
    </p>
  </div>
</footer>
