---
const today = new Date();
---

<footer class="mt-auto w-full p-8 text-center text-sm text-gray-500">
  <div class="mx-auto flex max-w-4xl flex-col gap-4">
    <div class="flex justify-center gap-6">
      <a
        href="https://github.com/HALQME"
        target="_blank"
        class="link-icon"
        aria-label="GitHub"
      >
        <div class="i-lucide:github"></div>
      </a>
      <a
        href="https://x.com/halqme_dev"
        target="_blank"
        class="link-icon"
        aria-label="X (Twitter)"
      >
        <div class="i-lucide:twitter"></div>
      </a>
      <a
        href="https://zenn.dev/hal227"
        target="_blank"
        class="link-icon"
        aria-label="Zenn"
      >
        <div class="i-lucide:book-open-text"></div>
      </a>
    </div>
    <p>
      &copy; {today.getFullYear()} HALQME. All rights reserved.
    </p>
  </div>
</footer>
