---
import ThemeToggle from "./ThemeToggle.astro";

const links = [
  { href: "/blog", icon: "i-lucide:pen-tool", label: "Blog" },
  { href: "https://apps.0w0.foo", icon: "i-lucide:file", label: "Gallery" }
];

const isNotHomePage = Astro.url.pathname !== "/";
const isBlogPage =
  Astro.url.pathname === "/blog" || Astro.url.pathname.startsWith("/blog/tags");
---

<header
  class="mx-auto flex h-16 w-full max-w-5xl items-center justify-between px-6 select-none md:px-12"
>
  {
    isNotHomePage ? (
      <a
        href="/"
        class="text-primary hover:text-subtle text-xl font-black tracking-tighter transition-colors"
        aria-current={Astro.url.pathname === "/" ? "page" : undefined}
        transition:name="title"
      >
        HALQME
      </a>
    ) : (
      <div aria-hidden="true" />
    )
  }
  <div class="flex items-center gap-2">
    <nav aria-label="メインナビゲーション">
      <ul class="flex gap-4">
        {
          links.map((link) =>
            isBlogPage ? null : (
              <li>
                <a
                  href={link.href}
                  class={`link-nav flex-inline before:content-empty items-center gap-1 py-1.5 before:${link.icon}`}
                  aria-current={
                    Astro.url.pathname.startsWith(link.href)
                      ? "page"
                      : undefined
                  }
                >
                  {link.label}
                </a>
              </li>
            ),
          )
        }
        <li>
          <a
            href="/cv.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="link-nav flex-inline before:content-empty before:i-lucide:file-text items-center gap-1 py-1.5"
          >
            CV
          </a>
        </li>
      </ul>
    </nav>
    <ThemeToggle />
  </div>
</header>
