<section class="py-12 text-center md:py-20">
  <h1 class="text-display mb-4">HALQME</h1>
  <div class="flex justify-center gap-4 select-none">
    <a href="https://github.com/HALQME" class="btn-primary">
      <div class="i-lucide:github"></div>
      GitHub
    </a>
    <a href="/blog" class="btn-secondary">
      <div class="i-lucide:book-open-text"></div>
      Read Blog
    </a>
  </div>
</section>
