---
interface Props {
    href: string;
    class?: string;
    target?: string;
    rel?: string;
}
const { href, class: className, target, rel } = Astro.props as Props;
---

<a
    href={href}
    class={`text-blue-600 dark:text-blue-400 underline hover:text-emerald-600 hover:dark:text-emerald-400 ${className}`}
    target={target}
    rel={rel}
>
    <span class="flex items-center">
        <slot />
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="inline-block ml-1 w-4 h-4"
        >
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
    </span>
</a>
