---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/hero/Projects.astro";
import { getCollection } from "astro:content";
import { styles } from "@/styles/tailwind";

const collections = await getCollection("projects");
const length = collections.length;
---

<Layout title="Projects | HALQME">
    <section class={styles.layout.container} data-pagefind-ignore>
        <h1 class={styles.text.heading.h1}>Projects</h1>
        <div class={styles.spacing.respMargin}>
            <Projects limit={10} />
        </div>

        <div class={styles.pagination.container}>
            {
                length > 10 && (
                    <a
                        href={`/projects/${Math.ceil(length / 10)}/`}
                        class="text-blue-600 dark:text-blue-400 hover:underline"
                    >
                        See all projects
                    </a>
                )
            }
        </div>
    </section>
</Layout>
