---
interface Props {
    repo: {
        name: string;
        description: string;
        url: string;
    };
}
const { repo } = Astro.props as Props;
import { styles } from "@/styles/tailwind";
---

<article
    class="bg-white dark:bg-gray-800 rounded-xl shadow-sm overflow-hidden border border-gray-200 dark:border-gray-700 hover:border-blue-500 dark:hover:border-blue-400 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-200"
>
    <a href={repo.url} class="block" target="_blank">
        <div class="p-6">
            <h3
                class={`${styles.text.heading.h3} group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors mb-4`}
            >
                {repo.name.length == 0 ? "NoName" : repo.name}
                <span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="inline-block ml-1 w-4 h-4"
                    >
                        <path
                            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                        ></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>
                </span>
            </h3>
            <p class={styles.text.body.muted + " line-clamp-2"}>
                {
                    repo.description.length == 0
                        ? "No Description"
                        : repo.description
                }
            </p>
        </div>
    </a>
</article>
